.section-base{
  min-height: 100vh;
  background-color:#EBE9E6;
}

.section-row{
  @extend .row;
}

.section-image-base{
  background-image: url("../img/jpg/peter-gilmore-9.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.section-image-order-1{
  @extend .col-sm-12, .col-lg-6, .order-lg-1;
  @extend .section-image-base;
}

.section-image-order-2{
  @extend .col-sm-12, .col-lg-6, .order-lg-2;
  @extend .section-image-base;
}


//section description base
.section-description-base{
  @extend .col-sm-12, .col-lg-6, .pt-5;

  h2 {
    @extend .font-weight-bolder, .display-4;
  }

  div {
    @extend .col-12;
  }
}

//use these classes for changing order
.section-description-order-1{
  @extend .section-description-base;
  @extend .order-lg-1;
}

.section-description-order-2{
  @extend .section-description-base;
  @extend .order-lg-2;
}

.section-action{
  @extend .btn, .btn-outline-primary;
}

@include media-breakpoint-down(md){
  .section-image-base{
    min-height: 50vh;
  }

  .section-description-base{
    min-height: 50vh;
    padding-bottom: map_get($spacers,5);
  }
}

@include media-breakpoint-up(lg){
  .section-image-base{
    min-height: 100vh;
  }

  .section-description-base{
    min-height: 50vh;
  }

  .section-row{
    align-items: center;
  }
}


.about-section{
  @extend .section-base;

  .about-row{
    @extend .section-row;

    .about-image{
      @extend .section-image-order-2;
    }

    .about-description {
      @extend .section-description-order-1;
    }

    .about-action {
      a {
        @extend .section-action;
      }
    }
  }
}

