.food-menu-section{
  min-height: 100vh;
  background-color: #EBE9E6;
}

.food-menu-row{
  @extend .row;

  .food-menu-image{
    @extend .col-sm-12, .col-lg-6;
    background-image: url("../img/jpg/Website-Menu-Image.jpg");
    background-size: cover;
    background-position: 50% 50%;
  }

  .food-menu-description{
    @extend .col-sm-12, .col-lg-6, .pt-5;

    h2{
      @extend .font-weight-bolder, .display-4;
    }
    div{
      @extend .col-12;
    }
  }

  .food-menu-action{
    a{
      @extend .btn, .btn-outline-primary;
    }
  }
}

@include media-breakpoint-down(md){
  .food-menu-image{
    min-height: 50vh;
  }

  .food-menu-description{
    min-height: 50vh;
    padding-bottom: map_get($spacers,5);
  }
}

@include media-breakpoint-up(lg){
  .food-menu-image{
    min-height: 100vh;
  }

  .food-menu-description{
    min-height: 50vh;
  }

  .food-menu-row{
    align-items: center;
  }
}

