.info-section{
  @extend .section-base;

  .info-row{
    @extend .row;
  }

  .info-block:nth-child(1){
    background-image: url("../img/jpg/contact-page-7.jpg");
  }

  .info-block:nth-child(2){
    background-image: url("../img/jpg/AB5I4797_NikkiTo.jpg");
  }

  .info-block:nth-child(3){
    background-image: url("../img/jpg/AB5I9119_NikkiTo.jpg");
  }

  .info-block:nth-child(4){
    background-image: url("../img/jpg/gallery-image45e1f.jpg");
  }

  .info-block:nth-child(5){
    background-image: url("../img/jpg/xmas-day.jpg");
  }

  .info-block{
    @extend .col-sm-12, .col-lg-4, .p-5;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $black;
    position: relative;

    .info-overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.6;
    }

    color : $white;

    .info-block-row{
      @extend .row, .align-items-start;
      min-height: 50vh;
    }

    .info-title{
      @extend .border-bottom, .col-12;
    }

    .info-large-title{
      @extend .py-3, .col-12;
    }

    .info-lead{
      @extend .col-12;
    }


    .info-action{
      @extend .col-12;
      width: 100%;
      a{
        @extend .btn, .btn-outline-info;
        border-width: 3px;
      }
    }
  }
}

