.landing_section{
  h1,p{
    color: $black;
  }

  h1{
    @extend .text-center;
  }

  .landing-title{
    @extend .col-12, .col-lg-9,.text-center;
    img{
      @extend .img-fluid;

    }

    @include media-breakpoint-only(sm){
      img{
        margin-top: map_get($spacers,5);
      }
    }
  }

  .landing-lead{
    @extend .col-12,.col-lg-9, .h-25;

    .landing-action{
      position: relative;
      a{
        @extend .btn, .btn-secondary, .mt-5;
        position: relative;
        border-radius: 0px;
        z-index: 4;
      }
    }
  }

  .landing-row{
    @extend .row, .align-items-center, .justify-content-center;
    min-height: 100vh;

  }
}

.landing_section{
  //background-image: url("../img/jpg/background-8.jpg");
  background-image: url("../img/jpg/AB5I8720_NikkiTo.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
